<ion-view title="เข้าสู่ระบบ" id="page5">
  <ion-content padding="true" class="has-header">
    <form id="page5-form3" class="list">
      <ion-list id="page5-list2">
        <label class="item item-input" id="page5-input8">
          <span class="input-label">ชื่อผู้ใช้งาน</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="page5-input9">
          <span class="input-label">รหัสผ่าน</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ui-sref="page1.page2" id="page5-button4" class="button button-stable  button-block">เข้าสู่ระบบ</a>
    </form>
    <a ui-sref="page6" id="page5-button7" class="button button-positive  button-block">สมัครสมาชิก</a>
  </ion-content>
</ion-view>