<ion-view title="Post" id="page8">
  <ion-content padding="true" class="has-header">
    <form id="post-form5" class="list">
      <label class="item item-input" id="post-textarea2">
        <span class="input-label">Post</span><textarea placeholder=""></textarea></label>
    </form>
    <div id="post-button-bar1" class="button-bar">
      <button id="post-button11" class="button button-positive  button-block icon ion-android-camera"></button>
      <button id="post-button12" class="button button-calm  button-block icon ion-image"></button>
      <button id="post-button13" class="button button-positive  button-block icon ion-location"></button>
    </div>
    <a ui-sref="page1.page2" id="post-button14" class="button button-positive  button-block">Post</a>
  </ion-content>
</ion-view>